@import './../../App.scss';
.header {
  background-color: $second-bg-color;
  margin-bottom: 5px;
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 768px;
  margin: 0 auto;
  padding: 10px 0;
  font-weight: bold;
}

p {
  margin: 0;
}